/* Quote Generator */
/* Style the body of the HTML document */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("/img/norrsken.jpg");
  background-size: cover;
}
/* Style the container */
.container {
  text-align: center;
}
/* Style the header */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}
/* Add hover effect to the button */
button:hover {
  background-color: #0056b3;
}
/* Style the quote display */
#quote-display {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  background-color: white;
  font-size: smaller;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 30px;
  border-radius: 40px;
}
